.slider-container {
  position: relative;
  width: 1000px;
  height: 450px;
  margin: 30px auto;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}