*html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}
h1{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
h2{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500; 
}
p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: justify;
}
a{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: justify;
}
.nav{
    display: flex;
    justify-content: right; 
    background-color: #B4CCCE;
    height: 7vh;
    text-align: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}
.logo{
    position: absolute;
    left: 2%;
}
.logo > img{
    width: 80px;
    height: 80px;
}
.nav > .aclass > a{
    text-decoration: none;
    padding: 10px;
    margin-right: 20px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
}
.nav > .aclass > a:hover{
    color: #333;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C3D0A2; 
  padding: 20px 20px;
  font-family: "Poppins", sans-serif;
  height: 20vh;
}

.footer-left img {
  width: 250px;
  height: 200px;
  margin-top: 50px;
}

.footer-center {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-center a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.footer-center a:hover {
  color: white;
}

.footer-right {
  text-align: right;
  font-size: 14px;
  color: #333;
  margin-right: 50px;
}
