.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-family: Arial, sans-serif;
}

.form-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-box label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

.form-box input {
  width: 80%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 6px;
  font-size: 14px;
  transition: border 0.3s ease;
}

.form-box input:focus {
  outline: none;
  border-color: #7ca982; 
}

.btn {
  background: linear-gradient(to right, #C3D0A2, #B4CCCE);
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
}

.btn:hover {
  background: #5d7779; /* darker gradient hover */
}